@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
.about {
  font-family: Merriweather;
}
.aboutMain {
  display: flex;
}
.header {
  text-align: center;
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.aboutMe {
  max-height: 100vh;
}

.aboutText {
  margin-top: 20px;
}

.enthusiastHeader {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.enthusiastHeader span,
p span {
  color: #f97316;
}

.pContainer {
  width: 40rem;
}
.aboutText p {
  text-align: justify;
  margin: 30px;
  font-size: 20px;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.downloadCv {
  font-size: 22px;
  padding: 15px 25px;
  margin: 30px 70px;
  border: none;
  border-radius: 20px;
  color: #fafafa;
  background-color: #2563eb;
  cursor: pointer;
}
.downloadCv:hover {
  background-color: #1e40af;
}

.img {
  width: 400px;
}

@media (max-width: 420px) {
  .about {
    font-family: Merriweather;
  }
  .aboutMain {
    display: flex;
    flex-direction: column;
  }
  .header {
    text-align: center;
    font-size: 15px;
    margin-bottom: 13.3px;
    margin-top: 16.6px;
  }

  .aboutMe {
    max-height: 100vh;
  }

  .aboutText {
    margin-top: 6.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enthusiastHeader {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  .enthusiastHeader span,
  p span {
    color: #f97316;
  }

  .pContainer {
    display: flex;
    flex-direction: column;
    width: 13.3rem;
  }
  .aboutText p {
    text-align: justify;
    margin: 10px;
    font-size: 6.6px;
  }

  .gifContainer {
    display: flex;
    flex-direction: column;
    margin-left: 33.3px;
  }

  .downloadCv {
    font-size: 7.3px;
    padding: 5px 8.3px;
    margin: 10px 23.3px;
    border: none;
    border-radius: 6.6px;
    color: #fafafa;
    background-color: #2563eb;
    cursor: pointer;
  }
  .downloadCv:hover {
    background-color: #1e40af;
  }

  .img {
    max-width: 100%;
  }
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .about {
    font-family: Merriweather;
  }
  .aboutMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 26.6px;
    margin-top: 33.3px;
  }

  .aboutMe {
    max-height: 100vh;
  }

  .aboutText {
    margin-top: 6.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enthusiastHeader {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .enthusiastHeader span,
  p span {
    color: #f97316;
  }

  .pContainer {
    width: 30rem;
  }
  .aboutText p {
    text-align: justify;
    margin: 20px;
    font-size: 13.3px;
  }

  .gifContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 66.6px;
  }

  .downloadCv {
    font-size: 14.6px;
    padding: 10px 16.6px;
    margin: 30px 70px;
    border: none;
    border-radius: 13.3px;
    color: #fafafa;
    background-color: #2563eb;
    cursor: pointer;
  }
  .downloadCv:hover {
    background-color: #1e40af;
  }

  .img {
    width: 400px;
  }
}
